/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

/* Recipe styles */
.rezept {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.rezept h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.rezept h3 {
    color: #555;
    font-size: 20px;
    margin-top: 20px;
}

.rezept ul,
.rezept ol {
    margin-bottom: 10px;
}

.rezept ul li,
.rezept ol li {
    margin-bottom: 5px;
}

.rezept .sub {
    margin-top: 10px;
    padding-left: 20px;
}

/* Splitting ordered list */
/* .split {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
} */

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}


/* .sub {
    display: block;
} */

ol.split > li:nth-last-of-type(-n+2) {
    list-style-type: disc;
}

input {
    padding-left:10px;
    margin-left:20px;
}